*.pyc
.env/
config.yaml
*.cache
*.m4
ar-lib
compile
*.log
*.status
configure
*~
install-sh
missing
Makefile
*.in
/devse-core/devse-core
/devse-irc-agent/devse-irc-agent

.deps
stamp-h1
devse_config.h
\#*\#
depcomp
*.o
