aiodns==3.0.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.6.0
bottom==2.2.0
Brotli==1.0.9
cchardet==2.1.7
cffi==1.15.0
chardet==4.0.0
confuse==1.6.0
idna==3.3
multidict==5.2.0
nextcord==2.0.0a3
numpy==1.21.4
orjson==3.6.4
pycares==4.1.2
pycodestyle==2.8.0
pycparser==2.21
PyYAML==6.0
toml==0.10.2
typing-extensions==3.10.0.2
yarl==1.7.2
